<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!-- register the Xtext UI language services for the flow model to Xtext's registry -->
   <extension
         point="org.eclipse.xtext.extension_resourceServiceProvider">
	    <resourceServiceProvider
	          class="io.typefox.dsl.designer.flow.xtext.ui.ExecutableExtensionFactory:org.eclipse.xtext.ui.resource.generic.EmfResourceUIServiceProvider"
	          uriExtension="flow">
	    </resourceServiceProvider>
   </extension>
</plugin>
